# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Semgrep
.semgrep/

# OS
.DS_Store
Thumbs.db
